body {
    background-color: #f9fcc0;
    margin-top: 50px;
    font-family: "Times New Roman", Times, serif;
}

.item {
    background-color: #d7eafa;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}


/* Position the image as a fixed element at the bottom */
.bottom-image {
    position: fixed;
    bottom: 25px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}


.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    border: 1px solid #000;
}
